* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5be76;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    width: 450px;
    height: 450px;
    border: 1px solid black;
    background-color: white;
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}